body {
  background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
